<!DOCTYPE html>

<html>


    <head>

        <!-- Links to Inter Font (Free and Open Sourced) https://fonts.google.com/specimen/Inter -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


        <!-- Link CSS File for header css design-->
        <link rel= "stylesheet" type = "text/css" href = "header_style.css">

        <!-- Link JS File for posts interaction -->
        <script type = "module" src = "searchbar.js"></script>

    </head>
    
    <body>

        <!-- Contains the header of the home page -->
        <article>


            <header>

                <!-- Logo -->
                <a class = "logo" href = "homepage.html"> <img src = "../resources/images/Blevvit_Logo.png"> </a>

                
                <!-- Search bar -->
                 <div class = "search_bar">

                    <i class="fa-solid fa-magnifying-glass fa-lg" style = "color: #ffffff;"></i>

                    <input type = "text" placeholder = "Search..." onkeydown = "searchPost(this, event)">

                 </div>


                <!-- Log In and Sign Up Buttons -->
                <div class = "log_sign_in">

                    <button onclick = "window.open('../log_regpage/login.html', '_self')"> Log In </button>
                    <button onclick = "window.open('../log_regpage/registration.html', '_self')"> Sign Up </button>

                </div>


            </header>


        </article>

    </body>


</html>