@layer components{

    
    .content_container {

        @apply h-screen
            bg-[#1A1D1A];

    }


    .post_container {

        @apply pt-12.5
                h-[50vh]
                flex
                flex-col
                items-center
                gap-2.5;
    
    }

    .post_container input {

        @apply bg-[#03120E]
                text-white
                text-lg
                p-2.5
                w-125
                border-4
                border-[#8ab0ab]
                rounded-md
                placeholder:text-white;

    }

    .post_container textarea {

        @apply w-125
                h-50
                bg-[#03120E]
                text-white
                text-base
                p-3
                border-4
                border-[#8ab0ab]
                rounded-md
                placeholder:text-white;
    
    }

    .post_container #post {

        @apply bg-[coral]
                border-0
                rounded-lg
                text-white;

        @apply hover:bg-[#e36536] 
                hover:cursor-pointer
                hover:scale-[1.1];
    
        padding: 8px 16px;
        box-shadow: 0 3px 8px rgba(0,0,0,.35);

    }

    #add_tag {

        @apply bg-[coral]
                border-0
                rounded-lg
                text-white;

        @apply hover:bg-[#e36536] 
                hover:cursor-pointer
                hover:scale-[1.1];

        padding: 8px 16px;

    }

    #add_tag_container {

        @apply flex
                items-start
                w-125
                font-semibold;

    }

    #tag_add{

        @apply bg-[#3e5058b9]
                fixed
                flex
                flex-col
                items-center
                justify-center
                w-125
                h-50
                top-[30%]
                left-[35%]
                border-2
                border-[#28363b]
                rounded-xl
                opacity-0
                -z-50
                gap-2.5;

        transition: all 0.3s ease-in-out;

    }

    #tag_add.open {

        @apply opacity-100
                z-60;;
        
    }

    #tag_add input{

        @apply w-50
                h-10
                bg-[#1A1D1A]
                text-[#8AB0AB];
    }

    #tag_add textarea{

        @apply placeholder:text-[#8AB0AB] 
                    opacity-50; 
    } 

    .closeTag_container{

        @apply absolute
                flex
                justify-center
                rounded-xl
                bg-[#3b4950]                
                right-0
                top-0
                h-10
                w-10;

    }


    #tag_add #closeTag {

        @apply w-10
                h-10
                scale-[1.5];

        @apply hover:cursor-pointer;

    }

    #tag_add #closeTag i {

        @apply hover:text-[coral];

    }

    #confirm_post {

        @apply mt-2.5
                flex
                justify-center
                w-auto
                h-auto;
        
    }

    #postTag {


        @apply bg-[coral]
                w-23.75
                h-10
                border-0
                rounded-lg
              text-white;

        @apply hover:bg-[#e36536] 
                hover:cursor-pointer;
        
    }

    #tag_container {

        @apply flex
                w-125
                gap-1.25;

    }

    .tags {

        @apply rounded-xl
                bg-[whitesmoke]
                text-sm
                w-12.5
                text-center;

    }

    .createpost_alert{

        @apply font-bold
                text-xl
                text-[orangered]
                text-center
                visible
                opacity-100;

    }

    .createpost_alert_hidden{

        @apply invisible
                opacity-0;

        transition: opacity 0s;

    }


}


