@layer components{

    .announcement_head_container{

        @apply mt-10;

    }


    .content_container .all_posts{

        @apply mr-auto
                ml-auto
                w-200;

    }

    .forum_content_container .all_posts{

        @apply w-287.5
                min-h-175
                ml-21.25
                mr-0;


    }

    .thread_head_img {

        @apply relative
                left-37.5;
    }

    .thread_head_img img{

        @apply w-[91vw]
                h-50
                object-cover
                object-center
                -ml-72.5;

    }

    .account_button {

        @apply flex
                justify-between
                items-center
                gap-2.25
                ml-auto
                mr-2.5;

    }
    
    .visited_container{

        @apply flex
                flex-row
                items-center
                bg-[#1A1D1A]
                ml-7.5;
        
    }

    .separator {

        @apply text-[coral]
                -mt-5;

    }
    .breadcrumbs{

        @apply flex
                mt-2.5
                pl-3.75;


    }
    .breadcrumbs a {

        @apply text-[coral];

        @apply hover:cursor-pointer
                hover:underline;

    }

    #forum_head {
        
        @apply flex
            justify-start
            items-center
            -ml-35
            mt-5;

    }

    #forum_head button {

        @apply relative
                left-75;

    }

    #forum_head h5 {

        @apply relative
                left-12.5
                text-5xl
                font-extrabold
                text-[coral]
                m-0
                -ml-10;


    }

    .thread_head_container .forum_description{

        @apply text-xl
                font-semibold
                -ml-30;


    }

    .content_container, .forum_content_container {

        @apply pt-13.75
                min-h-screen
                min-w-125
                bg-[#1A1D1A];

    }

    #forum_head #post_button {

        @apply absolute
                left-140
                w-42.5
                h-12.5
                bg-[#ff7a3d]
                text-white
                mt-2
                ml-130
                border-0
                rounded-lg
                cursor-pointer
                text-xl
                font-semibold;

        box-shadow: 0 3px 8px rgba(0,0,0,.35);
        transition: all .15s ease;

        @apply hover:bg-[#ff8c55]
                hover:scale-[1.1];

    }

    .recent_announcements{

        @apply w-83
                min-h-110
                mt-8.75
                -ml-7
                text-base;

    }

    .statistics{

        @apply w-83
                -ml-7
                mt-5
                min-h-60;

    }



}


