@layer components{


    .dropdown_container{

        @apply inline-block
                w-287.5
                ml-20;

    }

    .dropdown_title_header{

        @apply mb-2.5 
                font-semibold 
                text-[28px] 
                tracking-[1px] 
                text-[#b6e3dd];

    }

    .dropdown_topic{

        @apply flex 
                items-center
                w-auto 
                h-12.5 
                pl-3.75 
                bg-[#678c9c] 
                border-4
                border-[#26413C] 
                rounded-sm;

        @apply hover:cursor-pointer
             hover:bg-[#485c65] 
             hover:border-[#8AB0AB];

    }

    .dropdown_content{

        @apply flex
                flex-col
                w-full 
                h-auto 
                m-0;

    }

    .dropdown_section{

        @apply w-full 
                mt-7.5; 

    }

    .dropdown_title_section{

        @apply text-white 
                font-medium 
                text-[20px] 
                tracking-[2px] 
                ml-3.75;
        
    }

    .dropdown_content_tab{

        @apply flex 
                items-center
                relative
                w-full
                h-22.5
                mt-3.75
                mb-2.5
                bg-[#3E5058]
                border-2
                rounded-sm;

        @apply hover:scale-[1.01]
                hover:bg-[#37474f];

        box-shadow: 0 6px 11px -8px orange; 

    }

    .fa-hexagon{

        @apply relative 
        ml-7.5
        text-[#03120e]
        scale-[2.2];

    }

    .dropdown_content_tab_description{

        @apply 
                ml-7.5 
                mb-5;

    }




    .dropdown_content_tab_description .forum_title{

        @apply text-[coral] 
                text-2xl
                font-semibold
                mt-5.5
                w-auto;

        @apply hover:text-[#e06a3f] 
                hover:cursor-pointer 
                hover:underline;

    }

    .dropdown_content_tab_description .forum_description{

        @apply 
                text-white 
                font-normal
                mb-4
                ml-auto
                text-left
                w-auto;

    }

    .inner_image{

        @apply relative
                -left-8.75
                -top-0.5
                mt-1
                text-white;

        transform: scale(1.2, 1.2);

    }

    .caret{

        @apply ml-auto 
                mr-3.75
                text-white;

    }




    .home_side_content{

        @apply absolute 
                h-250 
                w-75 
                ml-auto 
                left-331.25 
                top-24.25;

    }

    .post_and_threads_buttons{

        @apply flex 
                items-center
                ml-2.5
                mr-8
                mb-2.5
                gap-1;

    }

    .post_and_threads_buttons button{

        @apply h-7.5 
                w-31.25 
                text-sm
                text-center 
              text-white 
              bg-[coral] 
              rounded-sm;

        @apply hover:bg-[#e36536] 
                hover:cursor-pointer;
        
    }

    .recent_announcements, .latest_posts, .statistics{

        @apply inline-block 
                bg-[#8AB0AB] 
                border-2 
                border-[#3E5058] 
                rounded-sm
                mr-4;

    }

    .recent_announcements p{

        @apply font-semibold 
                text-xl
                text-[#3E5058] 
                ml-5 
                underline
                text-wrap;

        @apply hover:cursor-pointer
             hover:text-[#526c77];


    }

    .statistics_label{

        @apply flex
                items-center
                ml-5
                mt-2
                text-xl
                font-semibold
                text-[#3E5058];

    }

    .statistics_counter{

        @apply  ml-auto
                mr-5
                text-[orangered];

    }

    .side_bar_title{

        @apply flex 
                items-center
                w-full 
                h-12.5 
                mb-[10px]
                bg-[#26413C] 
                border-b-2 
                border-b-[#3E5058];
        
    }

    .side_bar_title h3{


        @apply text-white
                font-normal 
                float-left;

    }

    .side_bar_title i{

        @apply  mr-2.5 
                ml-2.5 
                float-left;
    
    }

    .all_posts_popular{

        @apply flex
                flex-col;

    }
    
}



