@layer components{

    .mark{

        @apply bg-[coral];

    }

    /* Search - Container */
    .search_container{

        @apply flex-col
                w-325
                h-250
                pl-25
                pt-25;
                

    }

    .search_container .post{

        @apply w-287.5;

    }

    /* Search - Container */
    .tag_filter_container{

        @apply flex
                sticky
                flex-col
                order-2
                w-62.5
                min-h-100
                max-h-125
                ml-12.5
                mt-35
                bg-[#8AB0AB]
                border-2
                border-[#3E5058]
                rounded-sm;

    }

    /* Search Result Filter System - Title Container */
    .tag_filter_container .title_container{

        @apply flex
                items-center
                w-full
                bg-[#26413C];

    }

    /* Search Result Filter System - Title Icon */
    .tag_filter_container i{

        @apply mr-2.5
                ml-2.5
                mb-1.25
                float-left;

    }

    /* Search Result Filter System - Filter Tag Header */
    .tag_filter_container .filter_tags_title{

        @apply flex
                items-center
                w-full
                h-12.5
                m-0
                text-lg
                font-normal
                border-b-2
                border-b-[#3E5058];

    }

    /* Search Result Filter System - Paragraph */
    .tag_filter_container p{

        @apply text-lg
                font-medium
                ml-[10px];

    }

    /* Search Result Filter System - Containers */
    .tag_filter_container input, .tag_filter_container .filter_tag_button_container{

        @apply ml-2.5
                mr-3.75;

    }

    /* Search Result Filter System - Button Container */
    .filter_tag_button_container{

        @apply flex
                justify-center
                mt-auto
                mb-5
                gap-1;

    }

    /* Search Result Filter System - Search Bar */
    .tag_filter_container input{

        @apply flex
                w-[90%]
                h-10
                mb-5
                pl-2.5
                text-white
                bg-[#324248]
                border-2
                border-[coral]
                rounded-xl
                placeholder:font-normal
                placeholder:text-[lightgray];

        @apply focus:outline-0;

        @apply hover:bg-[#3d5057]
                hover:border-[orange]
                hover:placeholder:text-white;


    }


    /* Search Result Filter System - Filter and Clear Buttons */
    .filter_tag_button{

        @apply h-10
                w-30
                text-[coral]
                bg-[#3b4950]
                border-2
                border-[coral]
                rounded-xl;

        @apply hover:text-white
                hover:bg-[#37474f]
                hover:border-[orange]
                hover:cursor-pointer
                hover:scale-[1.1];

    }

    /* Search Result Filter System - Input Tag Container */
    .input_tags_wrapper {

        @apply flex
                flex-wrap
                ml-[10px]
                pt-[10px]
                pb-[10px]
                gap-y-1.5
                gap-x-1.5
                max-h-[250px]
                bg-none
                overflow-y-auto
                overflow-x-hidden;

    }

    /* Search Result Filter System - Input Tags Display*/
    .input_tag_display{

        @apply flex
                justify-center
                items-center
                m-0
                pl-[0.5vw]
                pr-[0.5vw]
                h-[4vh]
                text-xl
                font-medium
                bg-[#26413C]
                border-2
                border-white
                rounded-xl
                scale-[1]
                shadow-[0px_0px_0px_#26413C];

        @apply hover:shadow-[0px_0px_8px_#26413C]
                hover:overflow-y-hidden
                hover:overflow-x-hidden;

    }



    .filter_alert{

        @apply font-bold
                text-lg
                text-[orangered]
                text-center
                visible
                opacity-100;

    }

    .filter_alert_hidden{

        @apply invisible
                opacity-0;

        transition: opacity 0s;

    }

}





