@layer components{

    .side_bar{

        @apply fixed
                w-7.5
                h-full
                pt-30
                bg-[#3E5058]
                border-2
                border-[orange]
                border-l-0
                float-left
                z-4
                transition-[width] duration-200 ease-in-out;

    }

    .side_bar_open {

        @apply w-[250px];      

    }


    .clickable_container{

        @apply absolute
                w-6.25
                h-5
                left-3.75
                top-25
                bg-[#3E5058]
                z-5
                transition-[left] duration-200 ease-in-out;

    }


    .clickable_container_open{

        @apply left-[235px];

    }


    .clickable{

        @apply absolute
                top-2.5
                text-[orange]
                scale-[1.5]
                transition-transform duration-200 ease-in-out;;

        @apply hover:text-[coral] 
                hover:cursor-pointer;

    }

    .sidebar_border{

        @apply w-[140%]
               border
               border-[#314249];

    }


    .side_bar_content{

        @apply flex 
                flex-col
                absolute
                right-[350px]
                h-50
                w-37.5
                ml-5
                -translate-y-7.5
                transition-[right] duration-200 ease-in-out;

    }


    .side_bar_content_show{

        @apply right-[80px];

    }

    .side_bar_home{

        @apply flex 
                flex-col
                relative
                w-[95%]
                transition-transform duration-200 ease-in-out;;

    }

    .sidebar_home_button, .sidebar_profile_button, .sidebar_shop_button, .sidebar_topic_button, .about_topic_button{


        @apply flex 
                items-center
                h-10
                w-[150%]
                -ml-1.25
                pl-5
                font-light
                text-white
                bg-[#3E5058]
                border-0;

        @apply hover:bg-[#2e3c42]
                hover:cursor-pointer;

    }

    .side_bar_home i, .side_bar_dropdown i{

        @apply scale-[1.2];

    }

    .side_bar_home span, .side_bar_dropdown span{

        @apply ml-3.75
                text-[15px]
                text-white;

    }

    .side_bar_topics{

        @apply flex
                items-center
                flex-col
                w-[90%];

    }

    .side_bar_topics p{

        @apply text-sm
                font-medium
                text-[#78939e];

    }

    .side_bar_title_container{

        @apply flex
                items-center
                ml-13.75
                pl-5
                w-[150%]
                h-10;

        @apply hover:bg-[#4b616a]
                hover:rounded-sm
                hover:cursor-pointer;

    }


    .side_bar_title_section{

        @apply text-lg
                font-medium
              text-[#78939e];                

    }

    .side_bar_dropdown{

        @apply inline-block
                w-[220px]
                max-h-60
                mb-10
                ml-[70px]
                overflow-y-auto
                overflow-x-hidden
                transition-transform duration-200 ease-in-out;;

    }

    .side_bar_content_slice{

        @apply flex
                items-center;

    }

    .side_bar_content_slice p{

        @apply  ml-3.75
                text-white;

    }

}


















