@import "tailwindcss";

/* Importing other CSS Files to Tailwind */
@import "./createpost_style.css";
@import "./forum_style.css";
@import "./homepage_style.css";
@import "./log_reg_header_style.css";
@import "./header_userstats_style.css";
@import "./login_register_form_style.css";
@import "./searchresults_style.css";
@import "./sidebar_style.css";
@import "./userpostreplies_style.css";
@import "./challenge_user_style.css";
@import "./userprofile_style.css";
@import "./pagination_style.css";
@import "./about_style.css";
@import "./shop_style.css";

@layer utilities{

    .spacing{

        @apply m-2.5;

    }

    .spacing_small{

        @apply m-1.25;

    }

}

/* Added here due to bootstrap conflicts*/
body{

    @apply bg-[#1A1D1A] 
            m-0
            font-[Inter];
            
    zoom: 90%;
            
}



/* Base Layer Styles */
@layer base{

    * {
        box-sizing: border-box;
    }


    header{

        @apply flex 
                items-center
                fixed
                top-0
                left-0
                w-full
                h-15
                bg-[#3E5058]
                border-b-2
                border-[orange]
                z-10;

    }

    p, h1, h2, h3, h4{

        @apply m-0
                select-none
                text-[whitesmoke];

    }

    a {
        @apply no-underline;
    }

    i{

        @apply text-white;

    }

   p, h1, h2, h3, h4, h5, i, div, button{

        @apply transition-all duration-200 ease-in-out;

    }


    ::-webkit-scrollbar {

        width: 15px;

    }

    ::-webkit-scrollbar-track {

        background: #2e3c42;

    }

    ::-webkit-scrollbar-thumb {

        background: salmon;
        border-radius: 20vh;

    }

    ::-webkit-scrollbar-thumb:hover {

        background: darksalmon;
        cursor: pointer;

    }



    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {

        -webkit-appearance: none;
        margin: 0;

    }


    input[type=number] {

        -moz-appearance: textfield;

    }


}








