a {
  text-decoration: none;
}

/* Posts - Div Container that contains PFP, Username, and Date of Post */
.icon_name_date_post{


    display: flex;
    align-items: center;

    height: 20px;


}

/* Latests Posts - Secondary Div Container that contains a post */
.post{


    width: auto;
    height: auto;

    margin-top: 10px;

    padding-left: 20px;
    padding-top: 15px;

    background-color: #3E5058;
    border-radius: 5px;

}

/* Posts - PFP image */
.icon_name_date_post img{

    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;

}

/* Posts - Username */
.icon_name_date_post .name_post{

    font-size: 14px;
    font-family: "Inter", Arial;
    font-weight: 400;

    color: #57cbb8;

    margin-left: 10px;

}

/* Posts - Date of Post */
.icon_name_date_post .date_post{

    font-size: 11px;
    font-family: "Inter", Arial;
    font-weight: 400;

    color: lightgray;

    margin-left: 10px;
    
}

/* Posts - Title of Post */
.post h3{

    font-size: 22px;
    font-family: "Inter", Arial;
    font-weight: 600;

    margin-top: 20px;
    color: coral;

}

/* Posts - Div Container that Contains the Tags of the Post */
.tags_post{

    display: flex;
    align-items: center;

}

/* Posts - Text of Tags */
.tags_post p{

    width: auto;
    height: 14px;

    margin-top: -15px;
    margin-left: 4px;

    padding-left: 2px;
    padding-right: 2px;

    font-size: 10px;
    font-family: "Inter", Arial;
    font-weight: 600;


    color: grey;
    background-color: lightgrey;

    border-radius: 2px;


}

/* Posts - Short Description of Post*/
.post .description_short_post{


    width: 95%;

    margin-top: 0px;

    font-size: 15px;
    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;

    overflow: hidden;

}



/* Posts - Div Container that Contains the Like and Dislike Buttons */
.all_posts .stats_post{

    display: flex;
    align-items: center;

    height: 40px;
    
    margin-top: -10px;
}

/* Posts - Div Container that Contains a Button and its Counter */
.counter_container, .comment_container, .challenge_button{

    display: flex;
    align-items: center;

    background-color: #3E5058;

    height: 30px;
    width: auto;

    padding-left: 15px;

    border-radius: 5px;

}

/* Posts - Div Container that Contains a Comment and its Counter */
.comment_container, .challenge_button{

    margin-left: 20px;

}

/* Posts (Counter) - Icon of Button */
.all_posts .stats_post i{

    color: white;

    padding-right: 15px;
    
    
}

/* Posts (Counter) - Counter of Button */
.all_posts .stats_post p{


    font-size: 14px;
    font-family: "Inter", Arial;
    font-weight: 400;

    margin-right: 20px;

    padding-left: 5px;
    
    color: white;

}

/* Posts (Counter) - Icon of Button */
/* On Hover */
.all_posts .stats_post i:hover{

    color: coral;

    cursor: pointer;

}

/* Posts - Div Container that Contains a Button and its Counter */
/* On Hover */
.counter_container:hover, .comment_container:hover, .challenge_button:hover{

    background-color: #495d65;

}

/* Latests Posts - Text Result of Roll */
.roll_20_number{

    position: absolute;

    top: 200px;

    font-size: 40px;
    font-family: "Inter", Arial;
    font-weight: 600;

    color: rgb(255, 149, 110);

}

/* Latests Posts - Text Result of Roll */
.result{

    font-size: 18px;
    font-family: "Inter", Arial;
    font-weight: 600;

    color: rgb(255, 149, 110);

}

/* Latests Posts - Secondary Div Container that contains a post */
.post:not(.stats_post):hover {


    background-color: #314147;

    cursor: pointer;

}

/* Latests Posts - Challenge Button Text */
.challenge_button p{

    font-weight: 500;

    transform: translateX(-5px);

}


/* Challenge - Div Container for Challenge*/
#challenge_container{

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 550px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    border: 3px solid #584d3e;
    border-radius: 10px;
    opacity: 0;
    z-index: -999;
    transition: all 0.3s ease-in-out;
    gap: 3px;

    cursor: default;

}

/* Challenge - Roll 20 Title */
.roll_20{

    font-size: 40px;
    font-family: "Inter", Arial;
    font-weight: 600;

    margin: 0px;
    color: white;

}

.dicebg{

    display: flex;
    justify-content: center;



}

/* Challenge - Challenge Container on Visible State */
#challenge_container.open {
    opacity: 1;
    z-index: 999;
    background: none;
    border: 0;

    background-color: #3e5058b9;
}

/* Latests Posts - Container Storing Input and Button */
.bet_container{

    display: flex;
    justify-content: center;

    width: 100%;
    height: 50px;

}

/* Challenge - Bet Likes Text */
.bet_container p{

    font-size: 18px;
    font-family: "Inter", Arial;
    font-weight: 800;

    transform: translateY(-8px);

    color: white;

}

/* Challenge - Bet Container Button */
.bet_container button{

    font-family: "Inter", Arial;
    font-size: 18px;

    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;

}

/* Challenge - Bet Container Button */
/* Button On Hover */
.bet_container button:hover{

    color: white;
    background-color: #37474f;

    border-color: orange;

    cursor: pointer;


}

/* Challenge - Input Likes Container */
#challenge_container input{

    width: 50px;
    height: 40px;
    background-color: #1A1D1A;
    color: #8AB0AB;

    margin-left: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 600;

    color: white;
    
}


/* Challenge - Input Likes Container */
/* Inner Spin Buttons */
#challenge_container input::-webkit-inner-spin-button{

    width: 20px;
    height: 20px;
    
}


/* Challenge - Bet Likes Button */
.postBet{

    width: 200px;
    height:45px;

    margin-left: 15px;

}


#challenge_container textarea::placeholder{
    color: #8AB0AB;
    opacity: 0.5;
} 

#reply_container textarea:focus{
    outline: none;
    border-color: #8AB0AB;
}

#challenge_container > div:nth-child(2){

    font-size: 12px;
    color: #8AB0AB;
    opacity: 0.7;
    margin-bottom: 6px;

}

/* Challenge - Close Challenge Button */
#challenge_container > div:nth-child(1){

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    left: 460px;
    top:1px;

    width: 40px;
    height: 40px;

    border-radius: 10px;

    color: coral;
    background-color: rgb(59, 73, 80);

}

#challenge_container > div:nth-child(1) > button{

    color: coral;
    background-color: rgb(59, 73, 80);

    border: 0px;

}

#challenge_container > div:nth-child(1) > button > i{

    background-color: rgb(59, 73, 80);
    transform: scale(2, 2);

}

/* Challenge - Close Challenge Button Icon */
/* On Hover */
#challenge_container > div:nth-child(1):hover, #challenge_container > div:nth-child(1) > button > i:hover{

    background-color: rgb(69, 85, 93);
    cursor: pointer;

}

/* Challenge - Close Challenge Button */
/* On Hover */
#challenge_container > div:nth-child(1):hover > button{

    color: orange;

}


/* CHALLENGER VERSION */

#challenge_container .challenger_stats_container{

    display: flex;
    justify-content: center;
    align-items: center;


    height: 50px;
    width: 100%;


    font-family: 'Inter', Arial;
    font-size: 18px;
    color: white;


}

/* Challenge - Image Challenger */
#challenge_container .challenger_icon{

    height: 45px;
    width: 45px;
    border-radius: 50%;

    margin-right: 10px;

}

#challenge_container .challenger_rolls_likes_container{

    display: flex;
    align-items: center;

    margin-left: 45px;

}


#challenge_container i{

    color: white;

}

#challenge_container .challenger_rolled_number, #challenge_container .challenger_bet_likes{

    font-size: 20px;
    font-weight: 700;
    color: salmon;

    margin-left: 5px;
    margin-right: 10px;

}


