@layer components{

    .all_posts{

        @apply flex
                flex-col
                justify-start
                ml-auto
                mr-auto;

    }

    /* Posts - Div Container that contains PFP, Username, and Date of Post */
    .icon_name_date_post{

        @apply flex
                items-center
                h-5

    }

    /* Latests Posts - Secondary Div Container that contains a post */
    .post, .reply, .create_reply_container{

        @apply w-auto      
                h-auto
                mt-2.5
                pl-5
                pt-3.75
                bg-[#3E5058]
                rounded-md;

        @apply hover:cursor-pointer;

    }

    /* Posts - PFP image */
    .icon_name_date_post img, .reply .icon_name_date_post img{

        @apply h-6.25
                w-6.25
                rounded-[50%]
                object-cover;

    }

    /* Posts - Username */
    .icon_name_date_post .name_post{

        @apply text-sm
                font-normal
                text-[#57cbb8]
                ml-2.5;

        @apply hover:underline;

    }

    /* Posts - Date of Post */
    .icon_name_date_post .date_post{

        @apply text-[11px]
                font-normal
                text-[lightgray]
                ml-2.5;

    }

    /* Posts - Title of Post */
    .post .title_post, .reply .title_post{

        @apply text-2xl
                font-semibold
                mt-3
                text-[coral];

    }

    /* Posts - Div Container that Contains the Tags of the Post */
    .tags_post{

        @apply flex
                items-center
                mt-1
                mb-2
                h-3.5

    }

    /* Posts - Text of Tags */
    .tags_post p{

        @apply w-auto
                h-3.5
                ml-1
                pl-0.5
                pr-0.5
                text-[10px]
                font-semibold
                text-[gray]
                bg-[lightgray]
                rounded-sm;

    }

    /* Posts - Short Description of Post*/
    .post .description_short_post, .reply .description_short_post{

        @apply w-[95%]
                mt-0
                mb-5
                text-base
                font-normal
                overflow-hidden;

    }

    /* Posts - Div Container that Contains the Like and Dislike Buttons */
    .stats_post{

        @apply flex
                items-center
                h-10
                -mt-2.5;

    }

    /* Posts - Div Container that Contains a Button and its Counter */
    .counter_container, .challenge_button, .reply_button, .comment_container, .delete_button, .edit_button{

        @apply flex
                items-center
                bg-[#3E5058]
                h-7.5
                w-auto
                pl-3.75
                rounded-md
                font-[16px];

        @apply hover:bg-[#495d65]
                hover:cursor-pointer;

    }

    .delete_button, .edit_button{

        @apply w-27.5
                justify-center
                pr-5
                ml-5;

    }

    /* Posts - Div Container that Contains a Reply Button */
    .reply_button{

        @apply ml-5;


    }

    /* Posts (Counter) - Icon of Button */
    .stats_post i{

        @apply pr-3.75;

        @apply hover:text-[coral]
                hover:cursor-pointer;
        
    }

    /* Posts (Counter) - Counter of Button */
    .stats_post p{

        @apply font-normal
                mr-5
                pl-1.25;

    }

    /* Latests Posts - Challenge Button Text */
    .challenge_button p, .reply_button p{

        @apply font-medium
                -translate-x-1.25;

    }

    .replying_to_container {

        @apply w-190
                mt-5
                mb-7.5
                p-3.75
                bg-[#314047]
                border-4
                border-[coral]
                rounded-xl;
        
    }

    .replying_to_container p{

        @apply mt-0;

    }


    .replying_to_container .user_repliedto{

        @apply relative
                text-[coral]
                font-bold
                text-lg;

    }

    .create_reply_container{

        @apply relative;

    }

    .closeReply{

        @apply flex
                absolute
                right-10
                top-7.5;

        @apply hover:cursor-pointer;


    }

    .closeReply i{

        @apply text-[coral];

        @apply hover:text-[#e06a3f];

    }

    .reply_to{

        @apply text-xl
                font-medium
                text-[salmon]
                ml-2.5;
    }

    .reply_content{

        @apply w-[95%]
                h-35
                mt-3.75
                mb-6.25
                ml-2.5
                pl-1.25
                pt-1.25
                bg-[lightgray]
                border-2
                border-[salmon]
                rounded-md
                text-lg
                resize-none
                text-[#1A1A1A];

        @apply placeholder:font-semibold;


    }


    .confirm_post_container{

        @apply flex
                justify-end
                mr-[4%]
                mb-5;

    }

    .confirm_post{

        @apply flex
                justify-center
                items-center
                h-10
                w-23.75
                text-[coral]
                bg-[#3b4950]
                border-2
                border-[coral]
                rounded-xl;

        @apply hover:text-white
                hover:bg-[#37474f]
                hover:border-[orange]
                hover:cursor-pointer;

    }

    #edit_container {

        @apply flex
                items-end
                justify-end
                mt-1.25;

    }

    #editArea{

        @apply w-[95%]
                h-35
                mt-3.75
                mb-6.25
                ml-2.5
                pl-1.25
                pt-1.25
                bg-[lightgray]
                border-2
                border-[salmon]
                rounded-md
                text-lg
                text-[#1A1A1A]
                resize-none
                placeholder:font-medium;



    }

    #Save{

        @apply flex
                justify-center
                items-center
                h-10
                w-23.75
                text-[coral]
                bg-[#3b4950]
                border-2
                border-[coral]
                rounded-xl;

        @apply hover:text-white
                hover:bg-[#37474f]
                hover:border-[orange]
                hover:cursor-pointer;
    }

}


