@layer components{


    .banner_image{

        @apply h-[20vh]
                w-full
                rounded-tl-md
                rounded-tr-md
                object-cover;

    }

    .pfp{

        @apply absolute
                top-40
                left-37.5
                h-43.75
                w-43.75
                object-cover
                rounded-[50%]
                z-2;

    }

    .infobox{

        @apply flex
                flex-col
                mt-[10vh]
                gap-7.5
                ml-20
                w-387.5
                bg-[#3E5058]
                rounded-xl;

    }


    .left_side_info_container{

        @apply flex
                flex-col;

    }

    .right_side_info_container{

        @apply flex
                items-end
                absolute
                right-0
                flex-col
                w-100
                -mt-2.5
                ml-7.5;

    }


    .name {

        @apply h-37.5
                ml-22.5
                mt-10;

    }

    .left_side_info_container .username{

        @apply text-[salmon]
                text-4xl
                font-extrabold
                mt-5;

    }

    .bio{

        @apply text-xl
                font-medium
                w-250;

    }

    .right_side_stats_container{

        @apply flex
                justify-center
                w-full
                gap-[4vw]
                mr-3;

    }

    .stats_container{

        @apply flex
                items-center
                flex-col
                mt-11.25;


    }

    .stats_label{

        @apply text-xl
                font-medium;

    }

    .stats_container p:first-child{

        @apply text-4xl
                font-extrabold
                text-[salmon]
                m-0
                -mt-5;

    }



    .edit_profile_button{

        @apply flex
                items-center
                h-10
                w-10
                mr-5
                bg-transparent
                border-0;


    }

    .edit_profile_button i{

        @apply hover:text-[salmon]
                hover:cursor-pointer;

    }


    .user_posts_replies_notifications_container{

        @apply flex
                flex-col
                ml-20
                h-250
                min-h-250
                w-287.5
                mt-10
                bg-[#28363b]
                border-4
                border-[#3E5058]
                rounded-sm;

    }

    .post_reply_notifications_buttons_container{

        @apply flex
                border-b-4
                border-b-[#3E5058];

    }

    .post_reply_notifications_buttons_container button{

        @apply h-12.5
                w-30
                text-base
                font-bold
                text-[coral]
                bg-[#3b4950]
                border-r-4
                border-r-[#3E5058]
                border-t-0
                border-l-0
                border-b-0
                float-left;

        @apply hover:text-white
                hover:bg-[#37474f]
                hover:cursor-pointer;

    }

    .user_posts_replies_notifications_container .all_posts, .all_replies, .all_notifications{

        @apply hidden
                flex-col
                justify-center
                w-275
                mt-5;

    }

    .display_visible{

        @apply flex;

    }

    .challenge_stats_container{

        @apply absolute
                top-[61.5vh]
                right-0
                h-[30vh]
                w-[21vw]
                bg-[#28363b]
                border-4
                border-[#3E5058]
                rounded-md;

    }

    .challenge_stats_container p{

        @apply ml-3.75;

    }

    .challenge_stats_container hr{

        @apply border-2
                border-[#3E5058];

    }

    .stats_container_title{

        @apply text-2xl
                font-bold
                m-0
                mt-3.75;

    }

    .side_stats_container{

        @apply flex
                items-center
                mt-5;

    }

    .stats_container_label{

        @apply text-2xl
                font-semibold
                text-[salmon]
                w-25;

    }

    .side_challenge_wins_counter, .side_challenge_losses_counter, .side_challenge_ties_counter{

        @apply text-2xl
                font-semibold
                text-right
                min-w-40;

    }

    .challenge_profile_button{

        @apply flex
                justify-center
                items-center
                h-[6vh]
                w-[21vw]
                mt-[8vh]
                text-xl
                font-bold
                text-[whitesmoke]
                bg-[coral]
                border-2
                border-[orangered]
                rounded-md;
        
        @apply hover:bg-[#fb662f]
                hover:border-[coral]
                hover:cursor-pointer;
    }

    .delete_edit_container {

        @apply flex
                items-center
                justify-center
                ml-auto
                mr-5
                gap-1.25;

    }   
    
    .all_replies .replying_to_container{

        @apply w-200
                mt-5
                mb-7.5
                p-3.75
                bg-[#314047]
                border-l-4
                border-[coral]
                rounded-xl
                rounded-t-none
                rounded-l-none;

    }

    .all_replies .reply{

        @apply w-auto
                h-auto
                mt-2.5
                pl-5
                pt-3.75
                bg-[#3E5058]
                rounded-md;

    }

    .all_replies .reply h3{

        @apply text-2xl
                font-semibold
                text-[coral]
                mt-5;

    }

    .all_replies .reply .description_short_post{

        @apply w-[95%]
                mt-0
                text-base
                font-normal
                overflow-hidden;

    }


    .all_replies .replying_to_container p{

        @apply mt-0;

    }


    .all_replies .replying_to_container .user_repliedto{

        @apply relative
                text-[coral]
                font-bold
                text-lg;

    }

    .all_notifications .challenge_notification, .all_notifications .challenge_results_notification{

        @apply flex
                items-center
                h-[10vh]
                mb-5
                ml-10
                bg-[#3E5058]
                rounded-md
                rounded-tl-none
                rounded-bl-none;

    }


    .all_notifications .accept_deny_container{

        @apply flex
                justify-end
                items-center
                mr-[2vw]
                mt-7.5
                gap-5
                scale-[1];

        @apply hover:text-[salmon]
                cursor-pointer;

    }


    .all_notifications .accept_challenge, .all_notifications .deny_challenge , .all_notifications .accept_result{

        @apply h-5
                w-7.5
                bg-transparent
                border-0
                scale-[1.7]
                text-white;

        @apply hover:text-[salmon]
                hover:cursor-pointer;


    }

    .all_notifications img{

        @apply h-12.5
                w-12.5
                rounded-[50%]
                ml-2.5;

    }

    .all_notifications .icon_name_challenge_container{

        @apply flex
                ml-[1vw]
                mb-2.5;

    }

    .all_notifications .icon_name_challenge_container p{

        @apply text-xl
                ml-5;

    }

    .all_notifications .challenger_name{

        @apply font-bold;
    }

    .all_notifications .roll_likes_container{

        @apply flex
                ml-auto
                mr-[5vw]
                gap-[2vw]
                mt-0
                mb-0;

    }

    .all_notifications .roll_likes_container p{

        @apply text-xl
                text-[salmon]
                font-bold;

    }

    .all_notifications .results_alert_container{

        @apply flex
                items-center
                mb-2.5
                pb-2.5
                ;

    }

    .all_notifications .results_name{

        @apply text-xl
                font-bold
                ml-2.5;
    }


    .all_notifications .results_alert{

        @apply w-87.5
                text-lg
                text-[salmon]
                font-medium
                ml-5;

    }

    .all_notifications .challenge_results_notification .accept_deny_container{

        @apply flex
                justify-end
                ml-auto;

    }

    .all_notifications .challenge_results_notification .challenge_results_container{

        @apply flex
                ml-5
                gap-3.75
                mt-2.5;

    }

    .all_notifications .challenge_results_notification .results_display_container{

        @apply flex
                items-center
                flex-col
                gap-2.5;

    }

    .all_notifications .challenge_results_notification .number_result, .all_notifications .challenge_results_notification .number_result_betlikes{

        @apply scale-[1.2]
                text-[salmon]
                font-bold
                m-0
                pb-3.75;

    }

    .all_notifications .challenge_results_notification .number_result i, .all_notifications .challenge_results_notification .number_result_betlikes i{

        @apply scale-[1.2]
                mr-1.25;

    }

    .edit_profile_container{

        @apply hidden
                flex-col
                fixed
                items-center
                justify-center
                top-[50%]
                left-[50%]
                w-[40vw]
                h-[65vh]
                rounded-xl
                text-[coral]
                bg-[#3e5058b9]
                z-7;

        transform: translate(-50%, -50%);

    }

    .edit_profile_show{

        @apply flex;

    }

    .edit_profile_container .close_edit_profile {

        @apply flex
                absolute
                items-center
                justify-center
                top-0
                right-0
                w-10
                h-10
                rounded-xl
                border-0
                text-white
                bg-[#3b4950];

        @apply hover:bg-[#45555d]
                hover:cursor-pointer;

    }

    .edit_profile_container .close_edit_profile i {

        @apply scale-[2.0];

    }

    .main_edit_section_container{

        @apply flex
                flex-col
                w-[90%];

    }

    .edit_section_container{

        @apply flex
                items-center;

    }

    .edit_section_main_title{

        @apply font-extrabold
                text-4xl
                m-0;
                
    }

    .edit_section_title{

        @apply ml-auto
                mr-auto
                font-bold
                text-2xl
                underline
                text-center;

    }

    .edit_section_container .upload_button, .edit_section_container .edit_bio_button{

        @apply flex
                justify-center
                items-center
                ml-auto
                h-12.5
                w-40
                text-lg
                font-bold
                text-[coral]
                bg-[#3b4950]
                border-2
                border-[coral]
                rounded-xl;

        @apply hover:text-white
                hover:bg-[#37474f]
                hover:border-[orange]
                hover:cursor-pointer;

    }



    .banner_image_edit{

        @apply h-[10vh]
                w-87.5
                rounded-md
                object-cover;

    }

    .pfp_edit{

        @apply h-[12vh]
                w-[12vh]
                ml-[18%]
                object-cover
                rounded-[50%]
                z-2;
    }


    .edit_bio_area{

        @apply w-87.5
                h-25
                mt-3.75
                mb-6.25
                ml-2.5
                pl-1.25
                pt-1.25
                bg-[lightgray]
                border-2
                border-[salmon]
                rounded-md
                resize-none
                text-lg
                placeholder:font-medium;

    }

    .hide{

        @apply hidden;


    }


}









