.content_container {
    height: 100vh;
    background-color: #1A1D1A;
}
/* Homepage Header CSS properties */
header {


    display: flex;
    align-items: center;

    position: fixed; /* Sticks to the page while scrolling */

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #3E5058;

    border-bottom: 2px solid orange;

    overflow: hidden; /* Hide elements if doesn't fit*/

    z-index: 3;


}



/* Homepage Header - Logo */
header .logo img{

    position: relative;

    width: 325px;
    height: 65px;


}



/* Homepage Header - Search Bar */
header .search_bar{

    display: flex;
    align-items: center;

    width: 500px;
    height: 40px;

    background-color: #324248;

    margin-left:  15%;

    border: 2px solid coral;
    border-radius: 25px;



}

/* Homepage Header - Search Bar */
/* Logo */
header i{

    margin-left: 10px;

}

/* Homepage Header - Search Bar */
/* Input Text */
header .search_bar input{

    width: 400px;
    height: 40px;

    margin-left: 5px;

    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;
    background-color: #32424800;

    border: 0px;

    font-size: medium;

}

/* Homepage Header - Search Bar */
/* Placeholder */
header .search_bar input::placeholder{

    font-family: "Inter", Arial;
    font-weight: 400;

    color: lightgray;

}

/* Homepage Header - Search Bar */
/* Focus */
header .search_bar input:focus{

    outline: none;

}

/* Homepage Header - Search Bar */
/* Search Bar On Hover */
header .search_bar:hover{

    background-color: #3d5057;
    
    border-color: orange;

}

/* Homepage Header - Search Bar */
/* Placeholder When Search Bar On Hover */
header .search_bar:hover input::placeholder{

    color: white;

}

/* Homepage Header - Search Bar */
/* Change Search Bar When Actively Typing */
header .search_bar:has(input:focus){

    background-color: #3d5057;

    border-color: white;

}


/* Homepage Header - Log in & Sign Up Buttons */
header .log_sign_in{

    margin-left: auto;
    margin-right: 20px;

}

/* Homepage Header - Log in & Sign Up Buttons */
/* Buttons */
header .log_sign_in button{

    height: 40px;
    width: 65px;
    font-size: 12px;

    font-family: "Inter", Arial;

    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;


}

/* Homepage Header - Log in & Sign Up Buttons */
/* Button On Hover */
header .log_sign_in button:hover{

    color: white;
    background-color: #37474f;

    border-color: orange;

    cursor: pointer;


}


#header_dropdown_space{

    display: inline-block;

    margin-top: 85px;


}
.navigation_header {
    background-color: #3e505b;
    margin-left: 20px;
}
.header_buttons {
    color: #8ab0ab;
    text-decoration: none;
    font-size: 20px;
}
#login {
    background-color: #1A1D1A;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}
.account_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-left: auto;
    margin-right: 10px;
}

.username {
    font-size: 20px;
    color: aqua;
}
.visited_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1A1D1A;
    
}
.separator {
    margin-top: 1px;
}
.breadcrumbs{
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    color:  #8AB0AB;;

}
.breadcrumbs a {
     color: #8AB0AB;
}

.post_container {
    padding-top: 50px;
   
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
   
}

.post_container input {
   background: #03120E;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 500px;
  border: 3px solid #8ab0ab;
  border-radius: 6px;
}
.title_container {
    border:1px solid #3E5058;
    
    
}

.post_container textarea {
    width: 500px;
    height: 200px;
    background: #03120E;
    color: white;
    font-size: 14px;
    padding: 12px;
  
    border: 3px solid #8ab0ab;
    border-radius: 6px;
    
   
}
.area_container {
    border: 1px solid #3E5058;
}
.post_container #post {
  background: #ff7a3d;          
  color: white;
  margin-top: 10px;

  border: none;
  border-radius: 8px;

  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 3px 8px rgba(0,0,0,.35);
  transition: all .15s ease;

}
.post_container input::placeholder {
    color: white;
  
}

.post_container textarea::placeholder {
  color: white;
 
}
#add_tag {
    background: #ff7a3d;        
      border: none;
  border-radius: 8px;
  padding: 8px 16px;


}
#add_tag_container {
    display: flex;
    align-items: flex-start;
    width: 500px;
}

#challenge_container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    top: 30%;
    left: 35%;
    border: 3px solid #584d3e;
    border-radius: 10px;
    opacity: 0;
    z-index: -9999;
    transition: all 0.3s ease-in-out;
    gap: 10px;

}

#challenge_container.open {
    opacity: 1;
    z-index: 99999;
    
}

#challenge_container input{
   width: 200px;
   height: 100px;
   background-color: #1A1D1A;
   color: #8AB0AB;
    
}

#challenge_container textarea::placeholder {
  color: #8AB0AB;
  opacity: 0.5;
} 

#reply_container textarea:focus {
  outline: none;
  border-color: #8AB0AB;
}

#challenge_container > div:nth-child(2) {
     font-size: 12px;
  color: #8AB0AB;
  opacity: 0.7;
  margin-bottom: 6px;
}

#challenge_container > div:nth-child(1) {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 530px;
    top:1px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background-color: gray;
}

#challenge_container > div:nth-child(1) > img {
    height: 20px;
    width: 20px;
}

#challenge_container > div:nth-child(1) > button {
    background-color: rgba(0,0,0,0);
    border: 0;
}

#confirm_post {
    margin-top: 10px;
    margin-left: 50px;
    
   
}

#postTag {
     width: 100px;
     border-radius: 5px;
     background-color: coral;
     
}
#tag_container {
    display: flex;
    width: 500px;
    gap: 5px;
}
.tags {
    border-radius: 10px;
    background-color: gainsboro;
    font-size: 12px;
    width: 50px;
    text-align: center;
}