/* Allows the file to calcualte both margin and padding when adjusting height and width of element, to avoid manual adjusting*/
* {
    box-sizing: border-box;
}


/* Helps adjust website for mobile devices */


/* Homepage Body CSS properties */
body{

    background-color: #1A1D1A;

    margin: 0px; /* Mainly for header */

    font-family: "Inter", Arial;
    

}


mark{

    background-color: coral;

}

/* Search - Container */
.search_container{

    display: flex;
    flex-direction: column;

    width: 1300px;
    height: 1000px;

    padding-left: 100px;
    padding-top: 100px;

}

/* Search - General Container for Content */
.search_results_general_container{

    display: flex;

}

/* Search - Search Results Container */
.search_results_container{

    display: flex;
    flex-direction: column;

}

/* Search - Container */
.tag_filter_container{

    display: flex;
    position: sticky;
    flex-direction: column;
    order: 2;
    
    width: 250px;
    min-height: 400px;
    max-height: 500px;

    margin-left: 50px;
    margin-top: 170px;

    background-color: #8AB0AB;

    border: 2px solid #3E5058;
    border-radius: 3px;


}

/* Search Result Filter System - Title Container */
.tag_filter_container .title_container{

    display: flex;
    align-items: center;

    width: 100%;

   background-color: #26413C;


}

/* Search Result Filter System - Title Icon */
.tag_filter_container i{

    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

    float: left;


}

/* Search Result Filter System - Filter Tag Header */
.tag_filter_container .filter_tags_title{

    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    margin: 0px;

    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;

    border-bottom: 2px solid #3E5058;


}

/* Search Result Filter System - Paragraph */
.tag_filter_container p{

    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 500;


}

/* Search Result Filter System - Containers */
.tag_filter_container p, .tag_filter_container input, .tag_filter_container .filter_tag_button_container{

    margin-left: 10px;
    margin-right: 15px;

}

/* Search Result Filter System - Button Container */
.filter_tag_button_container{

    display: flex;
    justify-content: center;
    align-self: fle;

    margin-top: auto;
    margin-bottom: 20px;

}

/* Search Result Filter System - Search Bar */
.tag_filter_container input{

    display: flex;

    width: 90%;
    height: 40px;

    margin-bottom: 20px;

    padding-left: 10px;

    color: white;
    background-color: #324248;
    
    border: 2px solid coral;
    border-radius: 10px;


}


/* Search Result Filter System - Search Bar */
/* Placeholder */
.tag_filter_container input::placeholder{

    font-family: "Inter", Arial;
    font-weight: 400;

    color: lightgray;

}

/* Search Result Filter System - Search Bar */
/* Focus */
.tag_filter_container input:focus{

    outline: none;

}

/* Search Result Filter System - Search Bar */
/* Search Bar On Hover */
.tag_filter_container input:hover{

    background-color: #3d5057;
    
    border-color: orange;

}

/* Search Result Filter System - Search Bar */
/* Placeholder When Search Bar On Hover */
.tag_filter_container input:hover::placeholder{

    color: white;

}

/* Search Result Filter System - Search Bar */
/* Change Search Bar When Actively Typing */
header .search_bar:has(input:focus){

    background-color: #3d5057;

    border-color: white;

}

/* Search Result Filter System - Filter and Clear Buttons */
.tag_filter_container .filter_tag_button{

    height: 40px;
    width: 90px;

    font-family: "Inter", Arial;

    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;


}

/* Search Result Filter System - Filter and Clear Buttons */
/* Button On Hover */
.tag_filter_container .filter_tag_button:hover{

    color: white;
    background-color: #37474f;

    border-color: orange;

    cursor: pointer;


}

/* Search Result Filter System - Input Tag Container */
.input_tags_wrapper {
    display: flex;
    flex-wrap: wrap;
    
    height: 250px;

    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;


    overflow-y: auto;

}

/* Search Result Filter System - Input Tags Display*/
.input_tag_display{


    display: inline-flex;
    align-items: center;
    justify-content: center;


    width: auto;
    height: 30px;

    margin-top: 5px;

    padding-left: 2px;
    padding-right: 2px;

    font-size: 10px;
    font-family: "Inter", Arial;
    font-weight: 600;


    color: white;
    background-color: #26413C;

    border-radius: 5px;

}

/* Querey - Query Display */
.query_result_display{

    font-weight: 600;
    color: white;

}

/* Querey - Search Query */
.search_query{

    font-style: italic;

}

