/* Allows the file to calcualte both margin and padding when adjusting height and width of element, to avoid manual adjusting*/
* {
    box-sizing: border-box;
}


/* Div - Add Spacing */
.spacing{

    margin: 10px;

}

/* Div - Add Spacing but Small */
.spacing_small{

    margin: 5px;

}



/* Sidebar */
.side_bar{

    position: fixed; /* Sticks to the page while scrolling */

    width: 30px;
    height: 100%;

    padding-top: 120px;

    background-color: #3E5058;

    border-right: 2px solid orange;

    float: left;

    z-index: 2;

}

/* Sidebar - Div Container for Clickable Button */
.side_bar .clickable_container{

    position: absolute;

    width: 25px;
    height: 20px;

    left: 15px;
    top: 100px;

    background-color: #3E5058;

    z-index: 5;

}

/* Sidebar - Clickable Button */
.side_bar .clickable{

    position: absolute;

    top: 10px;

    color: orange;

    transform: scale(1.5, 1.5);

}

/* Sidebar - Divider Line */
.side_bar hr{

    width: 140%;

    /* Manually Changed */
    border: 1px solid #1b282c;

    margin-top: 10px;


}

/* Sidebar - Clickable Button */
/* Button on Hover */
.side_bar .clickable:hover{

    color: coral;

    cursor: pointer;

}

/* Sidebar - Div Container for Content */
.side_bar_content{

    display: flex;
    flex-direction: column;


    height: 200px;
    width: 150px;

    margin-left: 20px;

    transform: translateY(-30px);

    visibility: hidden;
}

/* Sidebar - Div Container for Home Section */
.side_bar_home{

    display: flex;
    flex-direction: column;

    position: relative;

    width: 95%;

}

/* Sidebar - Home Section Buttons */
.side_bar_home button, .side_bar_dropdown button{

    display: flex;
    align-items: center;

    height: 40px;
    width: 150%;

    margin-left: -5px;

    padding-left: 18px;

    font-family: "Inter", Arial;
    font-weight: 300;

    color: white;
    background-color: #3E5058;

    border: 0px;
    border-radius: 10px;

}

/* Manually Added */
/* Sidebar - Home Section Buttons p */
.side_bar_home button span, .side_bar_dropdown button span{

    transform: translateX(-2px);

}

/* Sidebar - Home Section Content Image */
.side_bar_home i, .side_bar_dropdown i{

    transform: scale(1.0, 1.0);
    transform: translateY(-1px);

}

/* Sidebar - Home Section Content Titles */
.side_bar_home button span, .side_bar_dropdown span{

    margin-left: 15px; 

    font-size: 14px;


}

/* Manual Adjusting of Rules text*/
.side_bar_dropdown #Rules{

    margin-left: 15px; 

    font-size: 13px;

}

/* Sidebar - Home Section Buttons */
/* Buttons on Hover */
.side_bar_home button:hover, .side_bar_dropdown button:hover{

    background-color: #2e3c42;

    cursor: pointer;
    

}



/* Sidebar Topics Section - Div Container for Title and the Topics in Dropdown  */
.side_bar_topics{

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 90%;

    /* */
    margin-top: -9px;
    

}

/* Sidebar Topics Section - Text */
.side_bar_topics p{

    font-family: "Inter", Arial;
    font-size: 14px;
    font-weight: 500;

    /* Manual Adjusting of Padding*/
    padding-top: 16px;
    padding-left: 17px;


    color: #78939e;


}

/* Manually Added */
/* Sidebar Topics Section - Caret Icon */
.side_bar_title_container i{

    margin-top: 2px;
    margin-left: auto;
    margin-right: 15px;
    
}

/* Sidebar Topics Section - Title and Caret Icon Container for Dropdown */
.side_bar_title_container{

    display: flex;
    align-items: center;

    margin-left: 55px;


    width: 150%;
    height: 40px;

}

/* Sidebar Topics Section - Title and Caret Icon Container */
/* Container on Hover */
.side_bar_title_container:hover{

    background-color: #4b616a;

    border-radius: 5px;

    cursor: pointer;


}

/* Sidebar Topics Section - Div Container for the Actual Dropdown Content */
.side_bar_dropdown{

    display: inline-block;

    width: 105%;
    height: 100px;

    margin-bottom: 120px;

}

.side_bar_content_slice{

    display: flex;
    align-items: center;

}

.side_bar_content_slice p{

    margin-left: 15px; 

    color: white;

}
html {
    background-color: #1A1D1A;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: #1A1D1A;
}
/* Homepage Header CSS properties */
header {


    display: flex;
    align-items: center;

    position: fixed; /* Sticks to the page while scrolling */

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #3E5058;

    border-bottom: 2px solid orange;

    overflow: hidden; /* Hide elements if doesn't fit*/

    z-index: 3;


}



/* Homepage Header - Logo */
header .logo img{

    position: relative;

    width: 325px;
    height: 65px;


}



/* Homepage Header - Search Bar */
header .search_bar{

    display: flex;
    align-items: center;

    width: 500px;
    height: 40px;

    background-color: #324248;

    margin-left:  15%;

    border: 2px solid coral;
    border-radius: 25px;



}

/* Homepage Header - Search Bar */
/* Logo */
header i{

    margin-left: 10px;

}

/* Homepage Header - Search Bar */
/* Input Text */
header .search_bar input{

    width: 400px;
    height: 40px;

    margin-left: 5px;

    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;
    background-color: #32424800;

    border: 0px;

    font-size: medium;

}

/* Homepage Header - Search Bar */
/* Placeholder */
header .search_bar input::placeholder{

    font-family: "Inter", Arial;
    font-weight: 400;

    color: lightgray;

}

/* Homepage Header - Search Bar */
/* Focus */
header .search_bar input:focus{

    outline: none;

}

/* Homepage Header - Search Bar */
/* Search Bar On Hover */
header .search_bar:hover{

    background-color: #3d5057;
    
    border-color: orange;

}

/* Homepage Header - Search Bar */
/* Placeholder When Search Bar On Hover */
header .search_bar:hover input::placeholder{

    color: white;

}

/* Homepage Header - Search Bar */
/* Change Search Bar When Actively Typing */
header .search_bar:has(input:focus){

    background-color: #3d5057;

    border-color: white;

}


/* Homepage Header - Log in & Sign Up Buttons */
header .log_sign_in{

    margin-left: auto;
    margin-right: 20px;

}

/* Homepage Header - Log in & Sign Up Buttons */
/* Buttons */
header .log_sign_in button{

    height: 40px;
    width: 65px;

    font-family: "Inter", Arial;
    font-size: 13.33px;
    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;


}

/* Homepage Header - Log in & Sign Up Buttons */
/* Button On Hover */
header .log_sign_in button:hover{

    color: white;
    background-color: #37474f;

    border-color: orange;

    cursor: pointer;


}


#header_dropdown_space{

    display: inline-block;

    margin-top: 85px;


}

.announcement_container {
   
   position: relative;
   width: 300px;
   left: 200px;
   display: flex;
   background-color: #3E5058;
  
     background-color: #8AB0AB;

    border: 2px solid #3E5058;
    border-radius: 3px;


  
}
.announcement_head_container {
    display: flex;
    
    
    
}
.announcement_head_container img {
   left: 30;
    
}
.announcement_head {
      width: 100%;
    height: 50px;
    
    background-color: #26413C;

    border-bottom: 2px solid #3E5058;
    
}
.announcement {
   padding-top: 20px;
   padding-left: 10px;
}

.announcement_head h5 {
    color: white;
}
.thread_head_img {
    position: relative;
    left: 150px;
}
.account_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-left: auto;
    margin-right: 10px;
}
.username {
    font-size: 20px;
    color: aqua;
}
.visited_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1A1D1A;
    margin-left: 30px;
    
    
}
.separator {
    margin-top: 1px;
}
.breadcrumbs{
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    color:  coral;

}
.breadcrumbs a {
     color:  coral;
}
.thread_head {
    display: flex;
    justify-content: center;
    
    background: #1A1D1A;
    
    
}
.thread_head_container img {
    margin-top: 5px;
    border-radius: 5px;
}
#reply_head > h5 {
     color: coral;
}
.thread_head_container h5 {
    margin-top: 7px;
    text-align: center;
   
}
.thread_head_container p {
    text-align: center;
    color: white;
}
.content_container {
    padding-top: 55px;
   min-height: 100vh;
    background-color:  #1A1D1A;
    min-width: 500px;
}
hr :not(.side_bar_content) {
    color: red;
}

#all_posts{


    display: flex;
    flex-direction: column;

    width: 850px;

    margin-left: auto;
    margin-right: auto;

}

.name_post, .date_post{

    padding-top: 15px;

}

.post .title_post{

    padding-bottom: 15px;
}

.tags_post{

    display: flex;

    align-items: center;

    margin-top: 10px;

    height: 5px;


}

.description_short_post{

    margin-top: -10px;
}

.post .like_counter, .post .dislike_counter, .post .comment_counter, .post .challenge_text{

    padding-top: 15px;

}

.post .roll_20_number{

    top: 210px;

}

.post .result{

    margin-top: 15px;
    
}
.post .bet_container p{

    padding-top: 15px;

}

.timestamp  {
  padding-top: 6px;
  color: white;
  opacity: 0.6;
  font-size: 9px;
  
}

.post_contents {
    position: relative;
    bottom: 9px;
    color: white;
    overflow-wrap: break-word;
    word-break: break-word;
}

.post_contents h3 {
    font-size: 19px;
    color: coral;
}

.post_contents p {
    font-size: 14px;
}

.link {
   
  display: block;
  text-decoration: none;
  color: inherit;
}
.link:hover {
    background-color: #3E5058;
}

.interaction_container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    z-index: 3;
}

.like_button {
    border: none;
    background-color: #8AB0AB;;
    height: 30px;
    border-radius: 5px;
    width:60px;
}
.like_button img {
    float: left;
    padding-top: 4px;
    padding-left: 5;
}
.like_button p {
    float: left;
    
    padding-left: 5;
}
.dislike_button {
    border: none;
    background-color: #8AB0AB;;
    height: 30px;
    border-radius: 5px;
    width:60px;
}
.dislike_button img {
    float: left;
    padding-top: 4px;
    padding-left: 5;
}
.dislike_button p {
    float: left;
    padding-left: 5;
}
.Challenge {
    border: none;
    background-color: #8AB0AB;;
    height: 30px;
    border-radius: 5px;
    width:100px;
}



#reply_head {
    display: flex;
    justify-content: center;
    align-items: center;
}
#reply_head button {
   position: relative;
   left: 300px;
}
#reply_head h5 {
   position: relative;
   left: 50px;
}


#challenge_container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    top: 30%;
    left: 45%;
    border: 3px solid #584d3e;
    border-radius: 10px;
    opacity: 0;
    z-index: -999;
    transition: all 0.3s ease-in-out;
    gap: 3px;

}

#challenge_container.open {
    opacity: 1;
    z-index: 999;
    background: none;
    border: 0;
}

#challenge_container input{
   width: 500px;
   height: 500px;
   background-color: #1A1D1A;
   color: #8AB0AB;
    
}

#challenge_container textarea::placeholder {
  color: #8AB0AB;
  opacity: 0.5;
} 

#reply_container textarea:focus {
  outline: none;
  border-color: #8AB0AB;
}

#challenge_container > div:nth-child(2) {
     font-size: 12px;
  color: #8AB0AB;
  opacity: 0.7;
  margin-bottom: 6px;
}

#challenge_container > div:nth-child(1) {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 530px;
    top:1px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    background-color: gray;
}

#challenge_container > div:nth-child(1) > img {
    height: 20px;
    width: 20px;
}

#challenge_container > div:nth-child(1) > button {
    background-color: rgba(0,0,0,0);
    border: 0;
}

.view_post {

  text-decoration: none;
  color: inherit;
  width: fit-content;
  display: block;
  height: fit-content;
  
}

.view_post:hover  {
  background-color: red; /* slightly lighter than post bg */
  border-color: #8AB0AB;
  cursor: pointer;
  border: 5px solid red;
  border-radius: 10px;
}
#post_button {
  background: #ff7a3d;          
  color: white;
  margin-top: 10px;

  border: none;
  border-radius: 8px;

  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 3px 8px rgba(0,0,0,.35);
  transition: all .15s ease;
}
#post_button:hover {
  background: #ff8c55;
  transform: translateY(-1px);
}

