/* Allows the file to calcualte both margin and padding when adjusting height and width of element, to avoid manual adjusting*/
* {
    box-sizing: border-box;
}


/* Div - Add Spacing */
.spacing{

    margin: 10px;

}

/* Div - Add Spacing but Small */
.spacing_small{

    margin: 5px;

}



/* Sidebar */
.side_bar{

    position: fixed; /* Sticks to the page while scrolling */

    width: 30px;
    height: 100%;

    padding-top: 120px;

    background-color: #3E5058;

    border-right: 2px solid orange;

    float: left;

    z-index: 2;

}

/* Sidebar - Div Container for Clickable Button */
.side_bar .clickable_container{

    position: absolute;

    width: 25px;
    height: 20px;

    left: 15px;
    top: 100px;

    background-color: #3E5058;

    z-index: 5;

}

/* Sidebar - Clickable Button */
.side_bar .clickable{

    position: absolute;

    top: 10px;

    color: orange;

    transform: scale(1.5, 1.5);

}

/* Sidebar - Divider Line */
.side_bar hr{

    width: 140%;


    border: 1px solid #314249;

}

/* Sidebar - Clickable Button */
/* Button on Hover */
.side_bar .clickable:hover{

    color: coral;

    cursor: pointer;

}

/* Sidebar - Div Container for Content */
.side_bar_content{

    display: flex;
    flex-direction: column;


    height: 200px;
    width: 150px;

    margin-left: 20px;

    transform: translateY(-30px);

    visibility: hidden;
}

/* Sidebar - Div Container for Home Section */
.side_bar_home{

    display: flex;
    flex-direction: column;

    position: relative;

    width: 95%;

}

/* Sidebar - Home Section Buttons */
.side_bar_home button, .side_bar_dropdown button{

    display: flex;
    align-items: center;

    height: 40px;
    width: 150%;

    margin-left: -5px;

    padding-left: 20px;

    font-family: "Inter", Arial;
    font-weight: 300;

    color: white;
    background-color: #3E5058;

    border: 0px;
    border-radius: 10px;

}

/* Sidebar - Home Section Content Image */
.side_bar_home i, .side_bar_dropdown i{

    transform: scale(1.2, 1.2);

}

/* Sidebar - Home Section Content Titles */
.side_bar_home button span, .side_bar_dropdown span{

    margin-left: 15px; 

    font-size: 14px;


}

/* Sidebar - Home Section Buttons */
/* Buttons on Hover */
.side_bar_home button:hover, .side_bar_dropdown button:hover{

    background-color: #2e3c42;

    cursor: pointer;
    

}



/* Sidebar Topics Section - Div Container for Title and the Topics in Dropdown  */
.side_bar_topics{

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 90%;
    

}

/* Sidebar Topics Section - Text */
.side_bar_topics p{

    font-family: "Inter", Arial;
    font-size: 14px;
    font-weight: 500;

    color: #78939e;


}

/* Sidebar Topics Section - Title and Caret Icon Container for Dropdown */
.side_bar_title_container{

    display: flex;
    align-items: center;

    margin-left: 55px;

    padding-left: 20px;

    width: 150%;
    height: 40px;

}

/* Sidebar Topics Section - Title and Caret Icon Container */
/* Container on Hover */
.side_bar_title_container:hover{

    background-color: #4b616a;

    border-radius: 5px;

    cursor: pointer;


}

/* Sidebar Topics Section - Div Container for the Actual Dropdown Content */
.side_bar_dropdown{

    display: inline-block;

    width: 105%;
    height: 100px;

    margin-bottom: 120px;

}

.side_bar_content_slice{

    display: flex;
    align-items: center;

}

.side_bar_content_slice p{

    margin-left: 15px; 

    color: white;

}
body {
    margin: 0;
    font-family: Arial;
}
.content_container {
    height: 100vh;
    background-color: #1A1D1A;
}
.header_container {
    display: flex;
    height: 50px;
    background-color: #3e505b;
    align-items: center;

}
.navigation_header {
    background-color: #3e505b;
    margin-left: 20px;
}
.header_buttons {
    color: #8ab0ab;
    text-decoration: none;
    font-size: 20px;
}
#login {
    background-color: #1A1D1A;
    width: 50px;
    border-radius: 10px;
    text-align: center;
}
.account_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-left: auto;
    margin-right: 10px;
}

.username {
    font-size: 20px;
    color: aqua;
}
.visited_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1A1D1A;
    
}
.separator {
    margin-top: 1px;
}
.breadcrumbs{
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    color:  #8AB0AB;;

}
.breadcrumbs a {
     color: #8AB0AB;
}

.post_container {
    padding-top: 50px;
   
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
   
}

.post_container input {
   background: #03120E;
  color: #8AB0AB;
  font-size: 16px;
  padding: 10px;
  width: 500px;
  border: 3px solid #8ab0ab;
  border-radius: 6px;
}
.title_container {
    border:1px solid #3E5058;
    
    
}

.post_container textarea {
    width: 500px;
    height: 200px;
    background: #03120E;
    color: #8AB0AB;
    font-size: 14px;
    padding: 12px;
  
    border: 3px solid #8ab0ab;
    border-radius: 6px;
    
   
}
.area_container {
    border: 1px solid #3E5058;
}
.post_container button {
     background: #3E5058;
  color: #8AB0AB;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 200;

}
.post_container input::placeholder {
    color: #8AB0AB;
  
}

.post_container textarea::placeholder {
  color: #8AB0AB;
 
}