a:link {
  color:orange; /* Unvisited link color */
}

a:visited {
  color:orange; /* Visited link color */
}

a:hover {
  color: rgb(160, 104, 0); /* Mouse over link color */
}

a:active {
  color: orange; /* Selected link color */
}
.form-control {
    display: flex;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8ab0ab;
    border-color: #8ab0ab;
    
}

.mainbox {
    display: grid;
    margin-top: 10%;
    background-color: #3E505B;
    width: 25%;
   
    position: flex;
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}

.btn.btn-success{
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 2%;
}

h4 {
    margin-top: 5%;
    text-align: center;
    color: white;
}
h6 {
    text-align: center;
    color: white;
}


body{
    background-color: #1A1D1A;
}
/*stolen css */
header {

    display: flex;
    align-items: center;

    position: fixed; /* Sticks to the page while scrolling */

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #3E5058;

    border-bottom: 2px solid orange;

    overflow: hidden; /* Hide elements if doesn't fit*/

    z-index: 3;


}
/* Homepage Header - Logo */
header .logo img{

    position: relative;

    width: 325px;
    height: 65px;


}