.form-floating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
    width: 20%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
    background-color: #3e505b;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #2E505B;
}
h4 {
    margin-top: 18%;
    text-align: center;
    color: white;
}
h6 {
    text-align: center;
    color: white;
}