/* Homepage Header CSS properties */
header {


    display: flex;
    align-items: center;

    position: fixed; /* Sticks to the page while scrolling */

    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: #3E5058;

    border-bottom: 2px solid orange;

    overflow: hidden; /* Hide elements if doesn't fit*/

    z-index: 3;


}



/* Homepage Header - Logo */
header .logo img{

    position: relative;

    width: 325px;
    height: 65px;


}



/* Homepage Header - Search Bar */
header .search_bar{

    display: flex;
    align-items: center;

    width: 500px;
    height: 40px;

    background-color: #324248;

    margin-left:  15%;

    border: 2px solid coral;
    border-radius: 25px;



}

/* Homepage Header - Search Bar */
/* Logo */
header i{

    margin-left: 10px;

}

/* Homepage Header - Search Bar */
/* Input Text */
header .search_bar input{

    width: 400px;
    height: 40px;

    margin-left: 5px;

    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;
    background-color: #32424800;

    border: 0px;

    font-size: medium;

}

/* Homepage Header - Search Bar */
/* Placeholder */
header .search_bar input::placeholder{

    font-family: "Inter", Arial;
    font-weight: 400;

    color: lightgray;

}

/* Homepage Header - Search Bar */
/* Focus */
header .search_bar input:focus{

    outline: none;

}

/* Homepage Header - Search Bar */
/* Search Bar On Hover */
header .search_bar:hover{

    background-color: #3d5057;
    
    border-color: orange;

}

/* Homepage Header - Search Bar */
/* Placeholder When Search Bar On Hover */
header .search_bar:hover input::placeholder{

    color: white;

}

/* Homepage Header - Search Bar */
/* Change Search Bar When Actively Typing */
header .search_bar:has(input:focus){

    background-color: #3d5057;

    border-color: white;

}


/* Homepage Header - Log in & Sign Up Buttons */
header .log_sign_in{
    display: grid; 
    grid-template-columns: 1fr 1fr;

    margin-left: auto;
    margin-right: 20px;

}

header .log_sign_in1{

    margin-left: auto;
    margin-right: 20px;
}

header .log_sign_in2{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

header .username{

    display: flex;
    justify-content: center; 
    align-items: center;

    font-family: "Inter", Arial;

    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;
}

/* Homepage Header - Log in & Sign Up Buttons */
/* Buttons */
header .log_sign_in button{

    height: 40px;
    width: 65px;

    font-family: "Inter", Arial;

    color: coral;
    background-color: rgb(59, 73, 80);
    border: 1px solid coral;
    border-radius: 10px;


}

/* Homepage Header - Log in & Sign Up Buttons */
/* Button On Hover */
header .log_sign_in button:hover{

    color: white;
    background-color: #37474f;

    border-color: orange;

    cursor: pointer;


}


#header_dropdown_space{

    display: inline-block;

    margin-top: 85px;


}