/* Allows the file to calcualte both margin and padding when adjusting height and width of element, to avoid manual adjusting*/
* {
    box-sizing: border-box;
}


/* Helps adjust website for mobile devices */


/* Homepage Body CSS properties */
body {

    background-color: #1A1D1A;

    margin: 0px; /* Mainly for header */

}

/* Homepage Body - Dropdown Section */
.dropdown_section{

    display: inline-block;

    width: 1150px;

    margin-left: 80px;

}

/* Homepage Body -  Titles On Dropdown Body */
.dropdown_title_header{

    
    margin-bottom: 10px;
    font-family: "Inter", Arial;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;

    color: #b6e3dd;

}

/* Homepage Body - Carets */
i.fa-caret-right, i.fa-caret-down{

    margin-left: auto;
    margin-right: 15px;
    


}

/* Homepage Body - Dropdown Contents */
.dropdown{

    display: flex;
    align-items: center;
    
    width: auto;
    height: 50px;

    padding-left: 15px;

    background-color: #678c9c;

    border: 3px solid #26413C;
    border-radius: 5px;

    
}


/* Homepage Body - Dropdown Title */
.dropdown .dropdown_title{

    color: White;

    font-family: "Inter", Arial;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 2px;

    margin-left: 15px;

    user-select: none;

    
}

/* Dropdown - Frame and Structure */
.dropdown_content{

    display: inline-block;

    width: 100%;
    height: auto;

    margin: 0px;


}

/* Dropdown - Content Tabs */
.dropdown_content .dropdown_content_tab{


    display: flex;
    align-items: center;

    position: relative;

    width: 100%;
    height: 90px;

    margin-top: 15px;
    margin-bottom: 10px;

    background-color: #3E5058;

    border: 2px solid;
    border-radius: 5px;

    box-shadow: 0 6px 11px -8px orange; 

}

/* Dropdown Tab - Content Description */
.dropdown_content .dropdown_content_tab_description{

    
    margin-left: 30px;
    margin-bottom: 20px;

}

/* Dropdown Tab - Title and Description (Remove Margin) */
.dropdown_content .dropdown_content_tab_description .forum_title, .forum_description{

    margin: 0px;

    user-select: none;

}

/* Dropdown Tab - Title*/
.dropdown_content .dropdown_content_tab_description .forum_title{

    color: coral;

    font-family: "Inter", Arial;
    font-weight: 600;
}

/* Dropdown Tab - Description*/
.dropdown_content .dropdown_content_tab_description .forum_description{

    color: white;

    font-family: "Inter", Arial;
    font-weight: 400;


}

/* Dropdown - Hexagon */
i.fa-solid.fa-hexagon.fa-rotate-90.fa-2xl{

    position: relative;

    margin-left: 30px;


}

/* Dropdown - Inner Image */
.dropdown_content .inner_image{

    position: absolute;

    left: 35px;

    transform: scale(1.2, 1.2);
}

/* Homepage Body - Dropdown | Hover */
.dropdown:hover{

    cursor: pointer;

    background-color: #485c65;
    
    border-color: #8AB0AB;

}

/* Home Page - Dropdowns (Announcement Only) */
.dropdown_annoucements{

    width: 100%;
    
    margin-top: 0px;

}

/* Home Page - Dropdowns (Rest of Dropdowns) */
.dropdown_creative_works, .dropdown_fiction_discussions, .dropdown_nonfiction_discussions{

    width: 100%;

    margin-top: 30px;

}

/* Dropdown Tab - Title*/
/* On Hover */
.dropdown_content .dropdown_content_tab_description .forum_title:hover{

    color: rgb(224, 106, 63);

    text-decoration: underline;

    cursor: pointer;

}



/* Latests Posts - Div Container that stores the latest posts */
.dropdown_latest_posts{


    width: 100%;
    height: 500px;

}


/* Home Side Content */
.home_side_content{

    position: absolute;
    height: 1000px;
    width: 300px;

    margin-left: auto;

    left: 1325px;
    top: 97px;

}

/* Home Side Content - Post and Threads Buttons Div */
.home_side_content .post_and_threads_buttons{

    display: flex;
    align-items: center;

    margin-left: 10px;

}

/* Home Side Content - Post and Threads Buttons*/
/* Buttons */
.home_side_content .post_and_threads_buttons button{

    
    height: 30px;
    width: 125px;

    font-size: small;
    font-family: "Inter", Arial;
    text-align: center;

    margin-left: 10px;
    margin-bottom: 30px;

    color: white;
    background-color: coral;
    border: 2px solid #8AB0AB;
    border-radius: 10px;

}

/* Home Side Content - Post and Threads Buttons*/
/* Button On Hover */
.home_side_content .post_and_threads_buttons button:hover{

    background-color: rgb(227, 101, 54);

    border-color: #3E5058;

    cursor: pointer;

}


/* Home Side Content - Side Bar Divs */
.home_side_content .recent_announcements, .latest_posts, .statistics{

    position: inline-block;

    background-color: #8AB0AB;

    border: 2px solid #3E5058;
    border-radius: 3px;


}

/* Home Side Content - Recent Announcements Div */
.home_side_content .recent_announcements{

    height: 250px;

}

/* Home Side Content - Latest Posts Div */
.home_side_content .latest_posts{

    height: 700px;

    margin-top: 30px;

}

/* Home Side Content - Statistics Div */
.home_side_content .statistics{

    height: 200px;

    margin-top: 30px;

}

/* Home Side Content - Side Bar Title */
.home_side_content .side_bar_title{
    
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: #26413C;

    border-bottom: 2px solid #3E5058;

}

/* Home Side Content - Side Bar Title */
/* h3 Title */
.home_side_content .side_bar_title h3{
    
    font-size: 16px;
    font-family: "Inter", Arial;
    font-weight: 400;

    color: white;

    float: left;

}

/* Home Side Content - Side Bar Title*/
/* Icon */
.home_side_content .side_bar_title i{
   
    margin-right: 10px;
    margin-left: 10px;

    float: left;

}
